@import "@/styles/variables";
@import "@/styles/mixins/media";

.button {
  width: 100%;
  height: 50px;

  color: $black;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 8px;

  transition: all 0.3s ease-in-out;

  &.primary {
    background-color: $darkOrange;
    color: $white;

    &:hover {
      background-color: $evenDarkerOrange;
    }
  }

  &.secondary {
    background-color: $white;

    &:hover {
      background-color: $offWhite;
    }
  }

  &.transparent {
    background-color: transparent;
  }

  &.disabled {
    background-color: $offWhite;
    filter: grayscale(100);
  }
}
