@import "@/styles/variables";
@import "@/styles/mixins/media";

.container {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  gap: 10px;

  @include media($tablet) {
    grid-template-columns: repeat(3, 1fr);
  }

  .col {
    background-color: tomato;
  }
}
