@import "@/styles/variables";
@import "@/styles/mixins/media";

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;

  .mobile {
    display: flex;
    flex-direction: column;
    gap: 26px;
  }

  .button {
    color: $blue;
    width: max-content;

    &:hover {
      color: $darkBlue;
    }
  }
}
