@import "@/styles/variables";
@import "@/styles/mixins/media";

.container {
  border-radius: 8px;
  background: $white;
  box-shadow: 0px 1px 2px -1px $offWhite;

  display: flex;
  flex-direction: column;

  padding: 18px;

  .title {
    font-family: "InterV";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    letter-spacing: -0.11px;

    display: flex;
    align-items: center;
    gap: 10px;
  }

  .articleContainer {
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    gap: 14px;

    .article {
      font-family: "InterV";
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 125% */
      letter-spacing: -0.11px;

      padding-bottom: 14px;
      border-bottom: 1px solid $background;
    }
  }

  .buttonContainer {
    width: max-content;
    margin-top: 14px;
    display: flex;
    align-items: center;
    gap: 2px;

    cursor: pointer;

    transition: all 0.3s ease-in-out;

    &:hover {
      gap: 4px;
    }

    .button {
      color: $blue;
      font-family: "InterV";
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 142.857% */
      letter-spacing: -0.096px;

      &:hover {
        color: $darkBlue;
      }
    }
  }
}
