@import "@/styles/variables";
@import "@/styles/mixins/media";

.container {
  width: 100%;
  height: 48px;
  border-radius: 10px;
  background: $white;
  box-shadow: 0px 1px 2px -1px $offWhite;

  display: flex;
  gap: 8px;
  align-items: center;

  padding: 16px 12px;

  @include media($tablet) {
    flex: 1;
  }

  .button {
    font-family: "Inter Bold";

    width: 95px;
    height: 40px;
    flex-shrink: 0;

    border-radius: 6px;
    background: $darkOrange;

    color: $white;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    text-transform: uppercase;

    transition: all 0.3s ease-in-out;

    &:hover {
      background: $evenDarkerOrange;
    }

    @include media($tablet) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
