@import "@/styles/variables";

.container {
  position: absolute;

  overflow: hidden;

  object-fit: contain;

  top: 5px;
  right: 5px;

  z-index: 99;

  &.bookmarked {
    svg > path {
      fill: $darkOrange;
    }
  }
}
