@import "@/styles/variables";
@import "@/styles/mixins/media";

@mixin hideOnMobile {
  display: none !important;
  @include media($desktop) {
    display: inherit;
  }
}

@mixin hideOnDesktop {
  @include media($desktop) {
    display: none !important;
  }
}

@mixin hideOnMobileAndTablet {
  @include media($desktop, max) {
    display: none !important;
  }
}
